{
    email jeanjo@simpliceake.com
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    ocsp_stapling off
}

medical.simpliceake.com {
    reverse_proxy app:80
}

simpliceake.com {
    redir https://medical.simpliceake.com{uri} permanent
}

www.simpliceake.com {
    redir https://medical.simpliceake.com{uri} permanent
}
